@{
    ViewBag.Title = "IssueTracker";
}
<body onload="fetchIssues()">    
        <h1>Issue Tracker</h1>

        <h2>Add New Issue</h2>

        <form id="issueForm">
        <label>Description</label>
        @Html.TextBox("Description", "", new { @id = "txtdesc" })

        <label>Severity</label>
        @Html.DropDownList("Severity", new List<SelectListItem>{
            new SelectListItem { Text = "Low", Value = "Low" },
            new SelectListItem { Text = "Medium", Value = "Medium" },
            new SelectListItem { Text = "High", Value = "High" }
            }, "Select", new { @id = "ddlseverity" })

        <label>Assigned To</label>
        @Html.TextBox("Assigned To", "", new { @id = "txtassigned" })
       </form>
        <p>
            <input id="btnAdd" type="submit" value="Add" />
        </p>   

    <div id="issuelist"></div>
</body>
@section scripts{
    <script type="text/javascript" src="http://chancejs.com/chance.min.js"></script>
    <script type="text/javascript" src="~/Scripts/IssueTracker.js"></script>">
}
